.carousel {
 margin: auto;
 max-width: 500px;
 position: relative;
 
 /* opacity: .8; */
}

.figcaption {
  position: absolute;
  left: -1000em;

  text-align: right;
  white-space: nowrap;
  font-size: .9em;
  
  

}
.carousel-item img {
  max-width: 100%;
  height: auto;
  display: block;
}
.carousel-nav {
  position: absolute;
  bottom: -20px; */ 
  /* z-index: 4; */
  position: relative;
  width: 100%;
}
.carousel-nav a {
  position: absolute;
  bottom: -2px; 
  text-decoration: none;
  font-size: 0.9em; /* increase to 1.1em if using &rarr; &larr; */
  color: #333;
  padding: 6px;

}
.carousel-nav a.prev {
  
  left: -6px;

   
  
}
.carousel-nav a.next {

  right: -6px;
  
}
